
/* HEADER */
.header {
  padding: 0 20px;
}

.logo-link img {
  height: 70px;
  width: 70px;
}


.busqueda {
  display: none;
}

.nombre {
  font-size: 48px;
  line-height: 48px;  
  margin-right: 20px;
}

/* MENÚ */
.menu {
  height: 90px;
}

.item a {
  height: 90px;
  font-size: 22px;
}

.submenu {
  display: none;
}

.item:hover .submenu {
  display: none;
}

/* FOOTER */
.footer {
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.footer-links {
  justify-content: center;
  gap: 20px;
}

.footer-icon {
  margin-left: 0;
  justify-content: center;
}

.modo-oscuro-btn {
  bottom: 15px;
  right: 15px;
  padding: 12px;
  font-size: 20px;
}


/* VIRALES */

  .virales {
    width: 90%;
  }

  .virales-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .viral-row {
    padding: 12px 16px;
  }