
/* HEADER */
.header {
  padding: 0 20px;
}

.logo-link img {
  height: 70px;
  width: 70px;
}


.busqueda {
  display: none;
}

.nombre {
  font-size: 48px;
  line-height: 48px;  
  margin-right: 20px;
}

/* MENÚ */
.menu {
  height: 90px;
}

.item a {
  height: 90px;
  font-size: 22px;
}

.submenu {
  display: none;
}

.item:hover .submenu {
  display: none;
}

.modo-oscuro-btn {
  bottom: 15px;
  right: 15px;
  padding: 12px;
  font-size: 20px;
}

/* ARTISTAS SELECTOR */

.seleccionador {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
    margin: 60px auto 100px auto;
  }

  .seleccionador .card {
    width: 100%;
    flex-direction: row;
    height: 180px;
  }

  .seleccionador .top-left,
  .seleccionador .top-right,
  .seleccionador .center,
  .seleccionador .bottom-left,
  .seleccionador .bottom-right {
    grid-column: auto;
    grid-row: auto;
  }