* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CABECERA */
.header {
  flex-direction: column;
  height: auto;
  padding: 10px 15px;
}

.izquierda {
  flex-direction: column;
  gap: 10px;
}


.logo-link,
.busqueda {
  display: none;
}

.titulo-buscador {
  align-items: center;
}

.nombre {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

/* MENÚ */
.menu {
  flex-direction: column;
  height: auto;
  width: 100%;
}

.item a {
  height: 60px;
  font-size: 20px;
}


.submenu {
  display: none 
}

.item:hover .submenu {
  display: none 
}

/* FOOTER */
.footer {
  flex-direction: column;
  gap: 15px;
  text-align: center;
}

.footer-links {
  flex-direction: column;
  gap: 10px;
}

.footer-icon {
  margin-left: 0;
  justify-content: center;
}

/* BOTÓN MODO OSCURO */
.modo-oscuro-btn {
  bottom: 15px;
  right: 15px;
  padding: 12px;
  font-size: 20px;
}


/* ARTISTAS SELECTOR*/

 .seleccionador {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;
    margin: 40px auto 80px auto;
  }

  .seleccionador .card {
    width: 100%;
    flex-direction: row; 
    height: 180px;
  }

  .seleccionador .top-left,
  .seleccionador .top-right,
  .seleccionador .center,
  .seleccionador .bottom-left,
  .seleccionador .bottom-right {
    grid-column: auto;
    grid-row: auto;
  }
